* {
  box-sizing: border-box;
  text-align: center;
}

body {
    margin: auto;
    border-style: dotted;

}

header {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 900;
}

h2 {
  font-size: 25px;

}